<% @title = yield :title %>
<!DOCTYPE html>
<html lang="<%= I18n.locale == "manglish" ? "en" : I18n.locale %>">
  <head>
    <title><%= @title.empty? ? t("site_title") : "#{@title} | #{t("site_title")}" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "header" %>
    <main>
      <%= yield %>
    </main>

    <script data-goatcounter="https://pazham.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
